.nav {
  display: flex;
  padding: .5rem;
  justify-content: space-between;
  position: fixed;
  height: 80px;
  right: 0;
  left: 0;
}

.active_header {
  background-color: rgb(240, 240, 240);
  backdrop-filter: opacity(8);
  box-shadow: 0px 0px 1px gray;
}

.menu {
  position: absolute;
  height: 88vh;
  background-color: white;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  padding:.5rem 1rem;
  transform: translateX(100%);
  transition: transform 1s linear;
}

.menuHeader {
  /* padding: 1rem 1.5rem; */
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.headerlogo {
  width: 84px;
  height: 55px;
}

.times {
  width: 32px;
  height: 32px;
}

.menu ul {
  margin-top: 30px;
  padding-top: 1rem;
}

.menu li {
  margin: 1rem 0;
}

.menu a {
  color: var(--pry-color);
  font-family: Calibri;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.3px;
}

.menuContact {
  display: flex;
  align-items: center;
  margin: 4rem 0;
}

.menuContact img {
  margin-right: .7rem;
}

.footer {
font-family: var(--sec-font);
font-size: 14px;
font-weight: 400;
line-height: 21px;
color: #4040408a;
}

.privacy {
  display: flex;
  margin-bottom: 2rem;
}

.privacy p {
  margin-right: 12px;
}

.block {
  display: block;
}

.active {
  display: block;
  transform: translateX(0);
}

@media (min-width:768px) {
  .nav {
    display: flex;
    align-items: center;
    height: 100px;
  }

  .logo {
    width: 130px;
    height: 97px;
    gap: 0px;
    opacity: 0px;
  }

  .menu {
    position: unset;
    background-color: transparent;
    height: auto;
    display: flex;
    align-items: center;
    width: auto;
    padding: 0;
    transform: translateX(0);
  }
  
  .menu ul {
    display: flex;
    margin-top: 0;
    padding: 0;
    margin-right: 3rem;
  }

  .menu a {
    margin-right: 1.5rem;
    font-family: Calibri;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
  }

  .menuHeader {
    display: none;
  }

  .menuContact {
    margin: 0;
    font-size: 16px;
  }

  .privacy  {
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .nav {
    width: 100%;
    padding: 1.5rem 5rem;
  }

  .menu a {
    font-size: 20px;
  }

  .menuContact {
    font-size: 18px;
  }
}