:root {
  --pry-color: #404040;
  --sec-color: #29AAE3;
  --access-color: #8EAAB7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

[data-aos="menu"] {
    transform: translateX(200px);
    transition-property: transform, opacity;
  
    &.aos-animate {
    transform: translateX(0px);
 }
}